<strong>Olá, {{ deliveryman }}</strong>
<p>Nova encomenda realizada, confira os detalhes abaixo:</p>
<p>
  <strong>Cliente: </strong> {{ recipient }} <br />
  <strong>Produto: </strong> {{ product }} <br />
  <br />

</p>
